.centerText {
    text-align: center;
}

#mapHeader{
    margin: 1rem;
}
html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 500px;
    width: 500px;
}

#img2{
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        border: 2px solid #41403e;
        display: block;
        height: auto;
        max-width: 100%
      
}

body {
    background-image: url("../assets/cloudy-day.png");
  }

#header{
    background-color: hsl(33, 84%, 93%);
    font-weight: bold;
}




